<h1>Административный раздел <%= link_to "Sign out", signout_path, method: "delete" %></h1>
<div class="container">
<%= render 'contact_forms/new' %>
<%= render 'items/new' %>
<%= render 'layouts/item_list' %>
</div>