<div style="display:none;">
  <div id="hello" class="fancybox-window fancybox-window-2 popup-margin">
  	<%= form_for @popup_contact_form do |f| %>
		<div class="title-3">
			Мы свяжемся с Вами в ближайшее время!
		</div>
	<% end %>
  </div>
</div>