<div class = "container">
  <div class = "row col-lg-12">
    <h1>Блок 2 (снизу)</h1>
      <% @descriptions.each do |description| %>
        <%= raw description.text %>
        <%= link_to 'Изменить', edit_description_path(description) %>
      <% end %>
    </table>
  </div>
</div>
<hr>
