/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

div.all-banners-width {
  /* The background image must be 800px wide */
  width: 100%;
}

figure.header {
  padding-top: 12.6%;  /* 450px/800px = 0.5625 */
  background-image: image-url('header.png');
  background-size: cover;
  -moz-background-size: cover;  /* Firefox 3.6 */
  background-position: center;  /* Internet Explorer 7/8 */
}

figure.banner-1 {
  padding-top: 30%;  /* 450px/800px = 0.5625 */
  background-image: image-url('banner.png');
  background-size: cover;
  -moz-background-size: cover;  /* Firefox 3.6 */
  background-position: center;  /* Internet Explorer 7/8 */  
}

figure.green-background {
	padding-top: 1.19%;
	padding-bottom: 20px;
	background-image: image-url('line_2.png');
	height: 100%;
	-moz-background-size: cover;  /* Firefox 3.6 */
	background-position: center;  /* Internet Explorer 7/8 */    
}

.col-7 {
  float: left;
  position: relative;
  width: 13.5%;
  margin-left: 2px;
  margin-right: 2px;
}

.col-5 {
  float: left;
  position: relative;
  width: 18%;
  margin-left: 5px;
  margin-right: 5px;
}

.green-splitter {
  background-repeat: repeat-x;
}

.green-splitter-high {

    background-image: image-url('line_1.png');
    height: 55px;
	margin-bottom: 40px;

}

.green-splitter-medium {
  background-image: image-url('line_4.png');
  height: 40px;
}

why-yurta-block {
	text-align: center;
	margin: 0 auto;
	display: block;
}

.why-yurta-block-img {
	margin: 0 auto;
}

.why-yurta-block-description {
  	color: white;
	font-weight: 600;
	text-align: center;
}

.header {
    display: block;
    background: image-url('header.png') 100% 100% no-repeat;
    height: 120px;
    margin-top: 50px;
}

.goods-container {
    border: 1px solid grey;
    text-align: center;
	border-radius: 10px;
}

.goods-container:hover {
	border: 1px solid black;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.img-properties {
	width: 100%;
}

.img-properties-radius {
	border-radius: 10px 10px 0 0;
}

.goods-container img {
	text-align: center;
	margin: 0 auto;
	display: block;
	width: 100%;
}


/* === */

.line1 {
  background-image: image-url('line_1.png');
  background-repeat: repeat-x;
  padding-bottom: 0px;
}

.line2 {
  background-image: image-url('line_2.png');
  background-repeat: repeat-y;
  height: 100%;
  padding-bottom: 20px;
}

.line3 {
  background-image: image-url('line_4.png');
  background-repeat: repeat-x;
  margin-top: 40px;
}

.about-us {
	text-align: left;	
}

.paddings {
	padding-bottom: 40px;
}

.paddings-2 {
	padding-bottom: 20px;
}

.paddings-3 {
	padding-top: 20px;
}

.paddings-4 {
	padding-top: 60px;
}

.padd-top {
	padding-top: 40px;
}

.padd-bottom {
	padding-bottom: 40px;
}

.goods-name {

	font-size: 10pt;
	font-weight: 600;
	text-align: center;
}

.goods-description {
	font-size: 9pt;
	margin: auto;
}

.font-small-size {
	font-size: 7pt;
}

.goods-price-description {
	font-size: 23pt;
	text-align: center;
	color: #9CAF22;
	font-weight: 700;
	margin: auto;
}

.goods-description-value {
	font-size: 9pt;
	text-align: center;
}

td {
	padding-left: 25px;
}

.img-radius {
	border-radius: 10px;
}

.pictograms {
	margin: 0 auto;
}

.title-1 {
	font-size: 30pt;
	color: white;
	font-weight: 700;
	margin-top: 30px;
	margin-bottom: 20px;
}

.title-1-about-us {
	color: #7AAB5B;
	margin-top: 50px;
}

.title-2 {
	font-size: 30pt;
	font-weight: 700;
	margin-top: 30px;
	margin-bottom: 20px;
}

.contacts {
	font-size: 15pt;
	font-weight: 500;
	margin-top: 10px;
	margin-bottom: 20px;
}


/*не нужно*/


.btn-success {
	margin-top:60px;
	font-size: 26pt;
	margin-bottom:60px;
}

body {
	background-color: #f5f3e3;
	overflow-x: hidden;
}

.margin-bottom-top {
	margin-bottom: 40px;
	margin-top: 40px;
}

.button-get-price {
	background: #9CAF22;
}

.button-contact-form {
	color: #799819;
	background: white;	
}

.button-contact-form-phone {
	float: left;
	float: right;
	
}

#get-price:hover {
	background: #799819;
}
	
#button-contact-form:hover {
	background: black;	
}

.border {
	border: 1px solid gray;
	padding: 0px;
}

.center-block {
	text-align: center;
}

.navbar {
	background: black;
	text-align: center;
	border: 0;
}

.navbar li {
	font-size: 14pt;
}

hr {
	border: none;
    background-color: grey; /* Цвет линии */
    height: 2px; /* Толщина линии */
}

.fancybox-window {
	background: #799819;
	width: 520px;
	height: 380px;
	padding-top: 30px;
	overflow-x: hidden;
}

h1 {
	text-align: center;
}

.PopUpInput {
	width: 80%;
	margin: auto;
	text-align: center;
}

.popup-margin {
	vertical-align: center;
}

.phone {
	margin-top: 50px;
	text-align: right;
	font-size: 28pt;
	color: white;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 20px;
}

.header-paddings {
	margin-top: -60px;
	padding-bottom: 0px;
}

.button-contact-form-small {
	font-size: 28pt;
}

.white-text {
	color: white;
	font-weight: 600;
}

@media screen and (max-width: 1100px) {
    .phone  {
        font-size: 16pt;
    }

    .button-contact-form-small {
        font-size: 16pt;
    }
}

@media screen and (max-width: 400px) {
	.fancybox-window {
		height: 100px;
	}
}

.margin-bottom-for-applience {
	margin-bottom: 40px;
}