<div id = "about_us">
	<% @articles.each do |article| %>	
		<div class="container">
			<h2 class="center-block title-1 title-1-about-us " style="float: none">
			<%= raw article.title %></h2>
			<div class="row">
				<div class="center-block col-lg-10" style="float: none">
					<div class="col-xs-12 col-sm-4">
						<div class="paddings-2">
							<div class="embed-responsive embed-responsive-16by9 img-radius">
								<div class="video">
									<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3YEsgXZdwI8" frameborder="0" allowfullscreen></iframe>
								</div>
							</div>
						</div>
						<div class="paddings-2">
							<div class="embed-responsive embed-responsive-16by9 img-radius">
								<div class="video">
									<iframe width="100" height="40" src="http://www.youtube.com/embed/OKhnkzC4Y08?autoplay=0&loop=0&showinfo=0&theme=dark&color=red&controls=1&modestbranding=0&start=0&fs=1&iv_load_policy=1&wmode=transparent&rel=1" frameborder="0" allowfullscreen></iframe>
								</div>
							</div>
						</div>
					</div>
				
					<div class="col-xs-12 col-sm-8 col-md-8 vertical-align-center">
						<p class="about-us"><%= raw article.text %>
						</p>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>

	<div class="container">
		<div class="row">
			<div class="center-block col-lg-10" style="float: none">
				<div class="col-md-4 col-xs-6 col-sm-4 padd-bottom">
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item img-radius" src="https://www.youtube.com/embed/I0xmoStyR0I" frameborder="0" allowfullscreen></iframe>
          </div>
				</div>

				<div class="col-md-4 col-xs-6 col-sm-4 padd-bottom">
					<%= image_tag "yurta2.png", class: "img-responsive img-properties img-properties-radius" %>
				</div>

				<div class="col-md-4 col-xs-6 col-sm-4 padd-bottom">
          <%= image_tag "yurta1.png", class: "img-responsive img-properties img-properties-radius" %>
				</div>
			</div>
		</div>
	</div>