<div class="container padd-top padd-bottom" id="contact_form">
	<div class="col-xs-10 col-sm-10 col-md-7 col-lg-6  border center-block" style="float: none">
		<div class="green-splitter green-splitter-medium"></div>
			<div class="row">
				<div class="col-lg-6 title-2 center-block center-text" style="float: none">	
					Наш адрес:
				</div>					
				<div class="center-block col-md-8 col-lg-9 contacts center-text" style="float: none">	
					Красноярский край, г. Красноярск </br>ул. Башиловская, д. 3, оф. 111</br>Телефон: +7 (391)2888-313</br>Электронная почта: <a href="mailto:yurta24@yandex.ru">yurta24@yandex.ru</br>
					<%= link_to "Мы в контакте", "http://vk.com/club67292718" %></br>
					<%= link_to "Мы на фейсбуке", "https://www.facebook.com/profile.php?id=100005485099140&fref=ts" %>				
				</div>
			</div>
		<div class="green-splitter green-splitter-medium"></div>
	</div>
</div>