<div id = "applying">
<% @descriptions.each do |description| %>	
	<div class="container">
		<h2 class="center-block title-1 title-1-about-us " style="float: none">
			<%= raw description.title %></h2>

		<div class="row">
			<div class="center-block col-xs-12 col-sm-12 col-md-10 col-lg-10 margin-bottom-for-applience" style="float: none">
				<div>
					<p align="left">
						<%= raw description.text %>
					</p>
				</div>
			</div>
		</div>
	</div>
	<% end %>
</div>
