<div id = "applying">	
	<div class="container">
		<h2 class="center-block title-1 title-1-about-us " style="float: none">Возможное применение</h2>

		<div class="row">
			<div class="center-block col-xs-12 col-sm-12 col-md-10 col-lg-10 margin-bottom-for-applience" style="float: none">
				<div>
					<p align="left">
										<b>- Юрточный кемпинг</b> – может быть очень популярен и чрезвычайно востребован на 
										туристическом рынке, особенно при современном развитии этнического и экологического 
										туризма. Не секрет, что возведение турбаз из капитальных сооружений всегда было дорого,
										а другой вариант - палатки- не дают требуемого комфорта. Именно юрта поможет решить 
										проблему оптимального соотношения цены и качества отдыха. Кемпинги, где туристы живут в 
										современных юртах - вот чего не хватает современной туриндустрии.</br>
										<b>- Летняя перевалочная база.</b> Чем дальше от цивилизации, тем заманчивее отдых для 
										уставших от городов туристов. Юрточный перевалочный лагерь - отличное решение для 
										популярных туристских маршрутов. Компактность и легкость конструкций позволяет на 
										небольших автомобилях перевезти несколько юрт и устанавливать там, где хочется. 
										Оборудовав место для костра, туалета, навес, можно за несколько часов устроить лагерь 
										для десятков туристов.</br>
										<b>- Горнолыжный комплекс.</b> Утепленные юрты можно дополнить отоплением (печки, радиаторы) 
										и установить у самого подножия гор, у подъемников. Можно использовать и зимой, и летом.</br>
										<b>- Придорожный комплекс.</b> Юрта может служить и точкой общепита, и оборудована для 
										ночлега дальнобойщиков.</br>
										<b>- Юрта в усадьбе</b> конкретного человека может использоваться в качестве летней кухни, 
										беседки, места для приема гостей, как личное помещение для творчества (мастерская 
										художника).</br>
										<b>- Выездная летняя пасека, зимой</b> - хранилище для пчелиных семей.</br>
										<b>- Вахтовый поселок</b> для геологов, археологов, нефтяников и т.д. в труднодоступных 
										местах.</br>
										<b>- Торговый павильон</b> в городе. Кафе, ресторан в этническом стиле.</br>
										<b>- Сооружения на террасе, крыше.</b> Возможно использование на любой высоте и устойчиво 
										к любым ветровым нагрузкам.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>