<% @descriptions.each do |description| %>	
	<div class="container">
		<h2 class="center-block title-1 title-1-about-us " style="float: none" id = "applying"><%= description.title %></h2>

		<div class="row">
			<div class="center-block col-xs-12 col-sm-12 col-md-10 col-lg-10 margin-bottom-top" style="float: none">
				<div>
					<p align="left"><%= description.text %>
					</p>
				</div>
			</div>
		</div>
	</div>
<% end %>