<div style="display:none;">
  <div id="hello" class="fancybox-window popup-margin">
		  	<div class = "form-group paddings-2">
		    	<input type="text" class="form-control PopUpInput center-block " 
		    	placeholder="Ваше имя">
			</div>
			<div class = "form-group">
		    	<input type="text" class="form-control PopUpInput center-block" placeholder="Ваш телефон">
			</div>
			<div class="PopUpInput center-block">
				<a class="btn btn-success button-contact-form button-get-price" id="get-price" 
				role="button">Перезвоните мне</a>
			</div>
  </div>
</div>