<div style="display:none;">
	<div id="hello" class="fancybox-window">
		<div class = "form-group">
		    <input type="text" class="form-control PopUpInput" 
		    placeholder="345345345">
		</div>
		<div class = "form-group">
		    <input type="text" class="form-control PopUpInput" placeholder="123123">
		</div>
		<div class="PopUpInput center-block">
			<a class="btn btn-success button-contact-form button-get-price"  
			role="button"><%= t 'callback.give_number' %></a>
		</div>
	s</div>
</div>