<div style="display:none;">
  <div id="hello" class="fancybox-window">
  	<div class = "form-group">
    	<input type="text" class="form-control" id="InputName" placeholder="Ваше имя">
	</div>
	<div class = "form-group">
    	<input type="text" class="form-control" id="InputPhone" placeholder="Ваш телефон">
	</div>
	<a class="btn btn-success button-contact-form button-contact-form-phone fancybox" href="#hello" role="button">Перезвоните мне</a>
  </div>
</div>