

<%= button_tag(type: 'submit', class: "btn btn-success center-block button-contact-form fancybox") do %>
	<%= link_to "Show mah Fancybox!", "#hello", class: "fancybox" %>
<% end %>

<div style="display:none;">
  <div id="hello">
  Hello world!
  </div>
</div>