<figure class="green-background">
	<div class="container paddings-2 paddings-3">
		<div class="row">
			<div class="col-lg-4 center-block white-text">
			© 2015 <%= t('copyright.company_name')%>
			</div>
		</div>
	</div>
</figure>