<div class="container">
	<div class="row center-block">	
		<a type="button" id="get-price" class="btn btn-success button-get-price" 
                    href="<%= asset_path('price.pdf') %>" download="price.pdf">Получить прайс!</a> 
	</div>	
</div>
