<div class="container" id = "prices">
	<div class="row center-block">
		<a type="button" id="get-price" class="btn btn-success button-get-price" 
			href="<%= asset_path('1.txt') %>">Получить прайс!</a>
	</div>	
</div>
