<div class="container" id = "prices">
	<div class="row center-block">	
		<%= button_to "Получить прайс", asset_path("price.pdf"), method: :get, id: "get-price", class: "btn btn-success button-get-price" %>
	</div>	
</div>
