<div class="col-xs-12 col-sm-6 col-md-3 paddings-2">
	<div class="goods-container">
		<%= image_tag "goods.png",  class: "img-responsive img-properties img-properties-radius" %>
		<%= image_tag "line_3.png", class: "img-responsive img-properties" %>
		<div class="goods-name">
			Юрта 4-стенная с орнаментом	
		</div>
		<table class="goods-description">
			<tr>
				<tr><td>Диаметр*:</td><td>4 м.</td></tr>
				<tr><td>Высота стены:</td><td>1,7 м.</td></tr>
				<tr><td>Высота в центре:</td><td>2 м.</td></tr>
				<tr><td>Площадь*:</td><td>13 м.</td></tr>
			</tr>
		</table>
		<div class="row goods-description">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 font-small-size">
				<p>*- Диаметр, площадь юрт указаны примерные</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 goods-price-description">
				260000 руб.
			</div>
		</div>	
	</div>
</div>