<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
     Новое сообщение Вы можете просмотреть по <%= link_to 'ссылке', 'yurta24.ru/signin' %>
    </p>
  </body>
</html>